@tailwind base;
@tailwind components;
@tailwind utilities;
.date-class::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 0.2s, transform 0.5s, visibility 0.5s;
}

.inactive {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: opacity 0.2s, transform 0.5s, visibility 0.5s;
}

.glass {
  backdrop-filter: blur(10px);
}

.markdown {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #000;
  margin-top: 20px;
}

.markdown h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.markdown h2 {
  font-size: 40px;
  line-height: 1.1;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.markdown h3 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

.markdown p {
  font-size: 18px;
  line-height: 1.45;
  margin: 10px 0;
}

.markdown a {
  color: #000;
  text-decoration: underline;
}

.markdown a:hover {
  text-decoration: none;
}

.markdown img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.markdown ul,
.markdown ol {
  margin: 10px 0;
  padding-left: 20px;
}

.markdown li {
  margin: 5px 0;
}

.markdown code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.markdown pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-left: 5px solid #000;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.markdown table,
.markdown th,
.markdown td {
  border: 1px solid #ddd;
}

.markdown th,
.markdown td {
  padding: 10px;
  text-align: left;
}

.markdown th {
  background-color: #000;
  color: white;
}

.markdown tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .markdown h1 {
    font-size: 2em;
  }
  .markdown h2 {
    font-size: 1.5em;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .markdown h3 {
    font-size: 1.5em;
  }
  .markdown p {
    font-size: 16px;
    line-height: 1.4;
  }
  .markdown img {
    margin: 10px 0;
  }
}
:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.custom-input {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgb(216, 216, 216);
  width: 100%;
  max-width: 600px;
  background-color: white;
  transition: 180ms box-shadow ease-in-out;
}

.custom-input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

.custom-input::placeholder{
  color: gray;
  font-size: small;
}


.custom-input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
          40%), 0.8);
  outline: 3px solid transparent;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}